In [1]:
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser
import pandas as pd

In [2]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
url = "https://mars.nasa.gov/news/"

In [4]:
# Retrieve page with the requests module
response = requests.get(url)

In [5]:
# Create BeautifulSoup object; parse with 'html.parser'
soup = bs(response.text, 'lxml')

In [6]:
# results are returned as an iterable list
results = soup.find('div', class_="content_title")

In [7]:
news_t = results.a.text
print(news_t)

Opportunity Hunkers Down During Dust Storm

In [8]:
results2 = soup.find('div', class_="image_and_description_container")

In [9]:
news_p= results.find('div',class_="rollover_description_inner").text
print(news_p)

AttributeError: 'NoneType' object has no attribute 'text'

In [10]:
image_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(image_url)

In [21]:
html = browser.html
soup = bs(html, 'html.parser')

featured_img = soup.find('img', class_='fancybox-image')

featured_img_url = featured_img['src']
print(featured_img_url)

TypeError: 'NoneType' object is not subscriptable

In [19]:
html = browser.html
soup = bs(html, 'html.parser')

featured_img = soup.find('footer').a
featured_img_url = featured_img['data-fancybox-href']
print(featured_img_url)

/spaceimages/images/mediumsize/PIA16883_ip.jpg

In [189]:
tweet_url = 'https://twitter.com/marswxreport?lang=en'
response = requests.get(tweet_url)

In [190]:
#html = browser.html
soup = BeautifulSoup(response.text, 'html.parser')

mars_weather = soup.find('div', class_='js-tweet-text-container').p.text
print(mars_weather)

Sol 2209 (2018-10-23), high -18C/0F, low -73C/-99F, pressure at 8.79 hPa, daylight 06:09-18:26

In [177]:
tables = pd.read_html(facts_url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 째C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [183]:
df = tables[0]
df.columns = ['parameter','value']
df

              parameter                          value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 째C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [184]:
df.set_index('parameter', inplace=True)
df.head()

                                              value
parameter
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)

In [187]:
html_table = df.to_html()
html_table = html_table.replace('\n', '')
html_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>value</th>    </tr>    <tr>      <th>parameter</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-153 to 20 째C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [27]:
hemisphere_image_urls = [{}]

In [28]:
hemisphere_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"

hemisphere_url_cer = "https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced"
hemisphere_url_schi = "https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced"
hemisphere_url_syr = "https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced"
hemisphere_url_val = "https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced"

In [30]:
response = requests.get(hemisphere_url)
soup = bs(response.text, 'lxml')

items= soup.find_all('div', class_='item')
titles =[]

for item in items:
    title = item.h3.text
    title= title.replace(" Enhanced","")
    titles.append(title)

In [33]:
def get_imge_url(url):
    response = requests.get(url)
    soup = bs(response.text, 'lxml')

    img1= soup.find('img', class_='wide-image')
    url1 = img1['src']
   
    return url1

In [34]:

urls = []
urls.append(f"https://astrogeology.usgs.gov{get_imge_url(hemisphere_url_cer)}")
urls.append(f"https://astrogeology.usgs.gov{get_imge_url(hemisphere_url_schi)}")
urls.append(f"https://astrogeology.usgs.gov{get_imge_url(hemisphere_url_syr)}")
urls.append(f"https://astrogeology.usgs.gov{get_imge_url(hemisphere_url_val)}")

In [35]:
hemisphere_image_urls = []
d ={}

for k, v in zip(titles, urls):
    print(k)
    print(v)
    d = {'title':k, 'url':v}
    hemisphere_image_urls.append(d)

Cerberus Hemisphere
https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg
Schiaparelli Hemisphere
https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg
Syrtis Major Hemisphere
https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg
Valles Marineris Hemisphere
https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg

In [36]:
print(hemisphere_image_urls)

[{'title': 'Cerberus Hemisphere', 'url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'}, {'title': 'Schiaparelli Hemisphere', 'url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'}, {'title': 'Syrtis Major Hemisphere', 'url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'}, {'title': 'Valles Marineris Hemisphere', 'url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]

In [38]:
!jupyter nbconvert --to script crape_mars.py

This application is used to convert notebook files (*.ipynb) to various other
formats.

WARNING: THE COMMANDLINE INTERFACE MAY CHANGE IN FUTURE RELEASES.

Options

-------



Arguments that take values are actually convenience aliases to full
Configurables, whose aliases are listed on the help line. For more information
on full configurables, see '--help-all'.


--debug

    set log level to logging.DEBUG (maximize logging output)

--generate-config

    generate default config file

-y

    Answer yes to any questions instead of prompting.

--execute

    Execute the notebook prior to export.

--allow-errors

    Continue notebook execution even if one of the cells throws an error and include the error message in the cell output (the default behaviour is to abort conversion). This flag is only relevant if '--execute' was specified, too.

--stdin

    read a single notebook file from stdin. Write the resulting notebook with default basename 'notebook.*'

--stdout

    Write notebook output to stdout instead of files.

--inplace

    Run nbconvert in place, overwriting the existing notebook (only
    relevant when converting to notebook format)

--clear-output

    Clear output of current file and save in place,
    overwriting the existing notebook.

--no-prompt

    Exclude input and output prompts from converted document.
--log-level=<Enum> (Application.log_level)

    Default: 30

    Choices: (0, 10, 20, 30, 40, 50, 'DEBUG', 'INFO', 'WARN', 'ERROR', 'CRITICAL')

    Set the log level by value or name.

--config=<Unicode> (JupyterApp.config_file)

    Default: ''

    Full path of a config file.

--to=<Unicode> (NbConvertApp.export_format)

    Default: 'html'

    The export format to be used, either one of the built-in formats, or a

    dotted object name that represents the import path for an `Exporter` class

--template=<Unicode> (TemplateExporter.template_file)

    Default: ''

    Name of the template file to use

--writer=<DottedObjectName> (NbConvertApp.writer_class)

    Default: 'FilesWriter'

    Writer class used to write the  results of the conversion

--post=<DottedOrNone> (NbConvertApp.postprocessor_class)

    Default: ''

    PostProcessor class used to write the results of the conversion

--output=<Unicode> (NbConvertApp.output_base)

    Default: ''

    overwrite base name use for output files. can only be used when converting

    one notebook at a time.

--output-dir=<Unicode> (FilesWriter.build_directory)

    Default: ''

    Directory to write output(s) to. Defaults to output to the directory of each

    notebook. To recover previous default behaviour (outputting to the current

    working directory) use . as the flag value.

--reveal-prefix=<Unicode> (SlidesExporter.reveal_url_prefix)

    Default: ''

    The URL prefix for reveal.js. This can be a a relative URL for a local copy

    of reveal.js, or point to a CDN.

    For speaker notes to work, a local reveal.js prefix must be used.

--nbformat=<Enum> (NotebookExporter.nbformat_version)

    Default: 4

    Choices: [1, 2, 3, 4]

    The nbformat version to write. Use this to downgrade notebooks.

To see all available configurables, use `--help-all`

Examples
--------

    The simplest way to use nbconvert is

    > jupyter nbconvert mynotebook.ipynb

    which will convert mynotebook.ipynb to the default format (probably HTML).

    You can specify the export format with `--to`.
    Options include ['asciidoc', 'custom', 'html', 'latex', 'markdown', 'notebook', 'pdf', 'python', 'rst', 'script', 'slides']

    > jupyter nbconvert --to latex mynotebook.ipynb

    Both HTML and LaTeX support multiple output templates. LaTeX includes
    'base', 'article' and 'report'.  HTML includes 'basic' and 'full'. You
    can specify the flavor of the format used.

    > jupyter nbconvert --to html --template basic mynotebook.ipynb

    You can also pipe the output to stdout, rather than a file

    > jupyter nbconvert mynotebook.ipynb --stdout

    PDF is generated via latex

    > jupyter nbconvert mynotebook.ipynb --to pdf

    You can get (and serve) a Reveal.js-powered slideshow

    > jupyter nbconvert myslides.ipynb --to slides --post serve

    Multiple notebooks can be given at the command line in a couple of
    different ways:

    > jupyter nbconvert notebook*.ipynb
    > jupyter nbconvert notebook1.ipynb notebook2.ipynb

    or you can specify the notebooks list in a config file, containing::

        c.NbConvertApp.notebooks = ["my_notebook.ipynb"]

    > jupyter nbconvert --config mycfg.py

[NbConvertApp] WARNING | pattern 'crape_mars.py' matched no files